@model ReadOnlyRecord[]
@using infodiorama.Models;
@{
    //Model.Caption
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>edit</h2>
<hr />
<body background-color: lightsteelblue; font-family: Verdana, Arial;>
    <form asp-action="Edit" asp-controller="Default" method="post">
        <div asp-validation-summary="All" class="text-danger">
            <span>Please correct the following errors</span>
        </div>
        @for (var f = 0; f < Model.Length; f++)
        {
            object FieldValue = Model[f].Value ;

            <div class="form-group">
                <label asp-for="@Model[f].ColumnName" class="editor-label">@Model[f].ColumnCaption</label>
                <input asp-for="@Model[f].ColumnName" class="form-control" placeholder="@Model[f].ColumnCaption" type="text" id="@Model[f].ColumnName" name="@Model[f].ColumnName" data-val="true" data-val-required="required" value="@FieldValue" />
                <span asp-validation-for="@Model[f].ColumnName" class="text-danger"></span>

            </div>
        }

        <p><input type="submit" value="update" /></p>
    </form>
</body>